<template>
    <slot :show="showModal"></slot>
    <tw-modal
            :showing="acceptOfferModal"
            @close="acceptOfferModal = false"
            :showClose="true"
            :backgroundClose="false"
            :noFlex="true"
            :noPadding="true"
        >
        <div class="py-5 px-4 flex flex-col h-full lg:block relative">
            <div v-if="!checking">
                <div class="space-y-4">
                    <div>
                        <div class="block font-medium text-sm">XDR</div>
                        <div class="mt-1">
                            <span class="break-words text-xs" v-html="this.xdr"></span>
                        </div>
                        <p class="mt-2 text-sm text-gray-500">
                            <a :href="laboratoryLink(this.xdr)" class="underline" target="new">View in Stellar Laboratory</a>
                        </p>
                    </div>
                    <button type="button" @click="signOfferXDR" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                        <div class="flex items-center" v-if="loading">
                            <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                            </svg>
                            <div>Processing</div>
                        </div>
                        <div v-else>Sign & Accept Offer</div>
                    </button>
                </div>
            </div>
            <div v-else class="mt-1 flex justify-center items-center">
                <svg class="animate-spin h-12 w-12 text-purple-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </div>
            <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
        </div>
    </tw-modal>
</template>

<script>
	export default {
		props: {
            action: {
                type: String,
                required: true
            },
            test: {
                type: Boolean,
                required: true,
                default: true
            },
            wallet: {
                type: String,
                required: true
            },
            userPublicKey: {
                type: String,
                required: true
            },
            xdr: {
                type: String,
                required: true
            },
            price: {
                type: String,
                required: true
            },
            fromAddress: {
                type: String,
                required: true
            }
		},
        data() {
            return {
                loading: false,
                acceptOfferModal: false,
                checking: true,
            }
        },
		methods: {
            showModal() {
                this.acceptOfferModal = true;
            },
            signOfferXDR() {
                if(this.loading) return;

                this.loading = true;

                window.signTransction(this.wallet, this.xdr, this.test).then((xdr) => {
                    axios.post(this.action, {
                        xdr: xdr
                    })
                    .then(response => {
                        this.loading = false;
                        if(response.data.success) {
                            if(response.data.url) location.href = response.data.url;
                        } else {
                            window.toast.error('An error occurred, please try again later.');
                        }
                    })
                    .catch(response => {
                        this.loading = false;
                        if(response.data && response.data.error) {
                            window.toast.error(response.data.error);
                        } else {
                            window.toast.error('An error occurred, please try again later.');    
                        }
                    });

                }).catch((error) => {
                    this.loading = false;
                    window.toast.error('An error occurred, please try again later.');  
                })
            },
            laboratoryLink(xdr) {
                if(!xdr) return '';

                let link = `https://laboratory.stellar.org/#xdr-viewer?input=${ encodeURIComponent(xdr) }&type=TransactionEnvelope&network=${ this.test ? 'test' : 'public'}`;

                return link;
            },
		},
        watch: {
            acceptOfferModal() {
                if(this.acceptOfferModal) {
                    window.getAccountBalance(this.fromAddress, this.test).then((balance) => {
                        if(parseFloat(balance) > parseFloat(this.price)) {
                            this.checking = false;
                        } else {
                            this.acceptOfferModal = false;
                            window.toast.error('The buyer does not have sufficient balance to fulfill the offer, please, try again later.');  
                        }
                    })
                    .catch(error => {
                        this.acceptOfferModal = false;
                        window.toast.error('An error occurred, please try again later.');  
                    });
                }
            }
        }
	};
</script>