<template>
    <slot :show="showModal"></slot>
    <tw-modal
            :showing="cancelOfferModal"
            @close="cancelOfferModal = false"
            :showClose="true"
            :backgroundClose="false"
            :noFlex="true"
            :noPadding="true"
        >
        <div class="py-5 px-4 flex flex-col h-full lg:block relative">
            <div class="space-y-4" >
                <div>
                    <div class="text-center text-lg font-medium px-8">Are you sure that you want to cancel your offer?</div>
                </div>
                <button type="button" @click="cancelOffer" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                    <div class="flex items-center" v-if="loading">
                        <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <div>Processing</div>
                    </div>
                    <div v-else>Cancel Offer</div>
                </button>
            </div>
            <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
        </div>
    </tw-modal>
</template>

<script>
	export default {
		props: {
            action: {
                type: String,
                required: true
            }
		},
        data() {
            return {
                loading: false,
                cancelOfferModal: false,
            }
        },
		methods: {
            showModal() {
                this.cancelOfferModal = true;
            },
            cancelOffer() {
                if(this.loading) return;

                this.loading = true;

                axios.post(this.action)
                .then(response => {
                    this.loading = false;
                    if(response.data.success) {
                        location.reload();
                    } else {
                        window.toast.error('An error occurred, please try again later.');
                    }
                })
                .catch(error => {
                    this.loading = false;
                    window.toast.error('An error occurred, please try again later.');
                });
            }
		}
	};
</script>