<template>
    <div class="block font-medium text-sm" v-if="label && !confirm" v-html="label"></div>
    <div class="space-y-4" :class="{'mt-4 ': label}" v-if="!confirm">
        <div class="flex items-center" v-for="option in options" :key="option.value">
            <div class="flex items-center h-5">
                <input :id="option.name" :name="name" v-model="selected" :value="option.value" type="checkbox" class="focus:ring-purple-500 h-4 w-4 text-purple-600 border-gray-300 rounded">
            </div>
            <label :for="option.name" class="ml-3 block font-medium text-sm" v-html="option.text"></label>
         </div>
    </div>
    <div :class="{'mt-4 ': label}" v-else>
        <div class="flex items-start">
            <div class="flex items-center h-5">
                <input :id="id" :name="name" v-model="selected" value="1" type="checkbox" class="focus:ring-purple-500 h-4 w-4 text-purple-600 border-gray-300 rounded">
            </div>
            <label :for="id" class="ml-3 block font-medium text-sm">{{ label ? label : 'Yes' }}</label>
        </div>
    </div>
    <p class="mt-2 text-sm text-red-600 validation-error" v-if="error" v-html="error"></p>
    <p class="mt-2 text-sm text-gray-500" v-if="hint"><slot name="hint"></slot></p>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        options: {
            type: Array,
            required: false
        },
        confirm: {
            type: Boolean,
            default: true
        },
        label: String,
        value: Array,
        error: String,
        hint: {
            type: Boolean,
            default: true
        }
	},
    emits: ['update:value'],
    data() {
        return {
            selected: [],
            id: ''
        }
    },
    created() {
        this.selected = this.value;

        let length = 10;
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let charactersLength = characters.length;
        for (let i = 0; i < length; i++ ) {
            this.id += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
    },
    watch: {
        selected() {
            this.$emit('update:value', this.selected);
        }
    }
};
</script>