<template>
    <div class="flex items-center">
        <label :for="id" class="block font-medium text-sm" v-if="label" v-html="label"></label>
        <button type="button" @click="addData" class="ml-2 hover:text-purple-500 focus:outline-none">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"></path>
            </svg>
        </button>
    </div>
    <div class="mt-1">
        <div class="mt-2" v-for="data in dataentries" :key="data.id">
            <div class="flex items-center space-x-4">
                <div class="flex-grow sm:flex items-center sm:space-x-2">
                    <div class="sm:flex-grow">
                        <label class="relative block">
                            <input class="input-label h-12 rounded-md shadow-sm border-gray-300 dark:border-gray-400 focus:border-purple-500 focus:ring focus:ring-purple-500 focus:ring-opacity-50 dark:bg-gray-800 block mt-1 w-full" placeholder="Name" type="text" v-model="data.name">
                            <span class="absolute block select-none whitespace-nowrap transition-opacity duration-200 ease-in opacity-0 px-3 top-1 text-xs">Name</span>
                        </label>
                    </div>
                    <div class="mt-2 sm:mt-0 sm:flex-grow">
                        <label class="relative block">
                            <input class="input-label h-12 rounded-md shadow-sm border-gray-300 dark:border-gray-400 focus:border-purple-500 focus:ring focus:ring-purple-500 focus:ring-opacity-50 dark:bg-gray-800 block mt-1 w-full" placeholder="Value" type="text" v-model="data.value">
                            <span class="absolute block select-none whitespace-nowrap transition-opacity duration-200 ease-in opacity-0 px-3 top-1 text-xs">Value</span>
                        </label>
                    </div>
                </div>
                <button type="button" @click="removeData(data.id)" class="hover:text-purple-500 focus:outline-none">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                </button>
            </div>
            <p class="mt-1 text-sm text-red-600 validation-error" v-if="getError(`dataentries.${data.id}.name`)" v-html="getError(`dataentries.${data.id}.name`)"></p>
            <p class="mt-1 text-sm text-red-600 validation-error" v-if="getError(`dataentries.${data.id}.value`)" v-html="getError(`dataentries.${data.id}.value`)"></p>
        </div>
    </div>
    <p class="mt-2 text-sm text-gray-500" v-if="hint"><slot name="hint"></slot></p>
</template>
<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        label: String,
        value: Array,
        errors: Object,
        hint: {
            type: Boolean,
            default: true
        }
	},
    emits: ['update:value'],
    data() {
        return {
            id: '',
            dataentries: [],
            dataCount: 0
        }
    },
    methods: {
        addData() {
            this.dataentries.push({
                'id': this.dataCount++,
                'name': '',
                'value': ''
            })
        },
        removeData(id) {
            this.dataentries = this.dataentries.filter(e => e.id !== id)
        },
        getError(name) {
            if(this.errors[name]) {
                return this.errors[name][0];
            }

            return '';
        }
    },
    created() {
        let length = 10;
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let charactersLength = characters.length;
        for (let i = 0; i < length; i++ ) {
            this.id += characters.charAt(Math.floor(Math.random() * charactersLength));
        }

        if(this.value.length > 0) this.dataentries = this.value;
    },
    watch: {
        dataentries: {
            handler(val, oldVal) {
                this.$emit('update:value', this.dataentries);
            },
            deep: true
        }
    }
};
</script>