<template>
    <div class="block font-medium text-sm" v-if="label" v-html="label"></div>
    <div class="space-y-4" :class="{'mt-4 ': label}">
        <div class="flex items-center" v-for="option in options" :key="option.value">
            <input :id="option.name" v-model="radio" :name="name" :value="option.value" type="radio" class="focus:ring-purple-500 h-4 w-4 text-purple-600 border-gray-300 dark:border-gray-400">
            <label :for="option.name" class="ml-3 block font-medium text-sm" v-html="option.text"></label>
         </div>
    </div>
    <p class="mt-2 text-sm text-red-600 validation-error" v-if="error" v-html="error"></p>
    <p class="mt-2 text-sm text-gray-500" v-if="hint"><slot name="hint"></slot></p>
</template>

<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        options: {
            type: Array,
            required: true
        },
        label: String,
        value: String,
        error: String,
        hint: {
            type: Boolean,
            default: true
        }
	},
    emits: ['update:value'],
    data() {
        return {
            radio: ''
        }
    },
    created() {
        this.radio = this.value;
    },
    watch: {
        radio() {
            this.$emit('update:value', this.radio);
        }
    }
};
</script>