<template>
    <label :for="id" class="block font-medium text-sm" v-if="label"><span v-html="label"></span><span class="font-normal text-xs" v-if="optional"> (optional)</span></label>
    <div :class="{'mt-1 ': label}">
        <select :name="name" :id="id" v-model="select" class="mt-1 block w-full py-2 px-3 border rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500 dark:bg-gray-800" :class="{'border-red-500': error, 'border-gray-300 dark:border-gray-400': !error}">
            <option value="" v-if="placeholder" v-html="placeholder"></option>
            <option v-for="option in options" :key="option.value" :value="option.value" v-html="option.text"></option>
        </select>
    </div>
    <p class="mt-2 text-sm text-red-600 validation-error" v-if="error" v-html="error"></p>
    <p class="mt-2 text-sm text-gray-500" v-if="hint"><slot name="hint"></slot></p>
</template>
<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        label: String,
        optional: {
            type: Boolean,
            default: false
        },
        placeholder: {
            type: String,
            default: ''
        },
        options: {
            type: Array,
            required: true
        },
        value: String,
        error: String,
        hint: {
            type: Boolean,
            default: true
        }
	},
    emits: ['update:value'],
    data() {
        return {
            id: '',
            select: ''
        }
    },
    created() {
        let length = 10;
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let charactersLength = characters.length;
        for (let i = 0; i < length; i++ ) {
            this.id += characters.charAt(Math.floor(Math.random() * charactersLength));
        }

        this.select = this.value;
    },
    watch: {
        select(newValue, oldValue) {
            if(newValue != this.value) {
                this.$emit('update:value', newValue)
            }
        }
    }
};
</script>