<template>
    <label :for="id" class="block font-medium text-sm" v-if="label"><span v-html="label"></span><span class="font-normal text-xs" v-if="optional"> (optional)</span></label>
    <div :class="{'mt-1 ': label}">
        <textarea :id="id" :name="name" :rows="rows" class="shadow-sm rounded-md dark:bg-gray-800 focus:border-purple-500 focus:ring focus:ring-purple-500 focus:ring-opacity-50 block w-full" :class="{'border-red-500': error, 'border-gray-300 dark:border-gray-400': !error}" :placeholder="placeholder" v-html="value" @input="$emit('update:value', $event.target.value)"></textarea>
    </div>
    <p class="mt-2 text-sm text-red-600 validation-error" v-if="error" v-html="error"></p>
    <p class="mt-2 text-sm text-gray-500" v-if="hint"><slot name="hint"></slot></p>
</template>
<script>
export default {
    props: {
        name: {
            type: String,
            required: true
        },
        type: {
            type: String,
            default: 'text'
        },
        label: String,
        placeholder: {
            type: String,
            default: ''
        },
        value: String,
        error: String,
        optional: {
            type: Boolean,
            default: false
        },
        hint: {
            type: Boolean,
            default: true
        },
        rows: {
            type: Number,
            default: 10
        }
	},
    emits: ['update:value'],
    data() {
        return {
            id: ''
        }
    },
    created() {
        let length = 10;
        let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
        let charactersLength = characters.length;
        for (let i = 0; i < length; i++ ) {
            this.id += characters.charAt(Math.floor(Math.random() * charactersLength));
        }
    }
};
</script>