<template>
    <div class="mt-12 px-4">
        <div class="flex items-center justify-center">
            <img class="h-12 sm:h-24" :src="walletList[wallet].icon" :alt="walletList[wallet].name">
        </div>
        <div class="mt-12 text-center">
            <component v-bind:is="walletList[wallet].driver" :sessionCode="sessionCode" :backurl="backurl" :action="action" :walletList="walletList" :wallet="wallet"></component>
        </div>
        <div class="text-center mt-8">
            <div class="inline-flex items-center cursor-pointer text-gray-400 hover:text-purple-500" @click="showWallets = !showWallets">
                <svg v-if="!showWallets" xmlns="http://www.w3.org/2000/svg" class="mr-1 w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
                <svg v-else xmlns="http://www.w3.org/2000/svg" class="mr-1 w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                </svg>
                <div>Use a different wallet</div>
            </div>
            <div v-if="showWallets" class="mt-4">
                <div class="flex justify-center items-center flex-wrap -mx-2">
                    <div class="block cursor-pointer m-2 rounded border" @click="wallet = 'walletconnect'" :class="wallet == 'walletconnect' ? this.activeWalletClass : this.unactiveWalletClass">
                        <div class="flex items-center justify-center">
                            <img class="h-8" src="/images/walletconnect.svg">
                        </div>
                    </div>
                    <div class="block cursor-pointer m-2 rounded border" @click="wallet = 'albedo'" :class="wallet == 'albedo' ? this.activeWalletClass : this.unactiveWalletClass">
                        <div class="flex items-center justify-center">
                            <img class="h-8" src="/images/albedo-icon.svg">
                        </div>
                    </div>
                    <div class="block cursor-pointer m-2 rounded border" @click="wallet = 'rabet'" :class="wallet == 'rabet' ? this.activeWalletClass : this.unactiveWalletClass">
                        <div class="flex items-center justify-center">
                            <img class="h-8" src="/images/rabet.svg">
                        </div>
                    </div>
                    <div class="block cursor-pointer m-2 rounded border" @click="wallet = 'freighter'" :class="wallet == 'freighter' ? this.activeWalletClass : this.unactiveWalletClass">
                        <div class="flex items-center justify-center">
                            <img class="h-8" src="/images/freighter-icon.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import DriverDefault from './drivers/default.vue'
import DriverWalletconnect from './drivers/walletconnect.vue'

export default {
    components: {
        DriverDefault,
        DriverWalletconnect
    },
    props: {
        sessionCode: {
            type: String,
            required: true
        },
        backurl: {
            type: String,
            default: ''
        },
        action: {
            type: String,
            required: true
        },
        walletList: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            wallet: 'albedo',
            showWallets: false,

            activeWalletClass: 'border-purple-500 ring-opacity-20 ring ring-purple-500 p-2',
            unactiveWalletClass: 'border-gray-300 dark:border-gray-400 hover:border-purple-500 p-2'
        }
    },
    methods: {
    },
    watch: {
        wallet(oldValue, newValue) {
            if(oldValue != newValue) this.publicKey = '';
        }
    },
    computed: {
        
    }
};
</script>