<template>
    <div class="w-0 h-0" ref="scroll-sensor"></div>
    <img :src="src" @click="show()" :class="imageClasses" v-if="isVisible(scrollY)" @load="isLoaded = true" v-show="isLoaded">
    <div v-if="!isLoaded" class="text-purple-500 w-full h-full flex items-center justify-center py-4">
        <svg class="animate-spin h-12 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </div>
    <vue-easy-lightbox
        :visible="lightboxVisible"
        :imgs="lightboxImage"
        @hide="handleHide"
        v-if="enablePreview"
    >
        <template v-slot:loading>
            <div class="absolute h-12 w-12 top-1/2 left-1/2 transform  -translate-y-1/2 -translate-x-1/2 text-purple-500">
                <svg class="animate-spin h-12 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-50" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-100" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </div>
        </template>
    </vue-easy-lightbox>
</template>

<script>
export default {
    props: {
		src: {
			required: true,
			type: String
		},
        fullUrl: {
			required: false,
            default: '',
			type: String
		},
		imgClass: {
			type: String
		},
        scrollY: {
			required: false,
            default: 0,
			type: Number
		},
        hideScroll: {
			required: false,
            default: false,
			type: Boolean
		},
	},
    data() {
        return {
            isLoaded: false,
            lightboxVisible: false,
            lightboxImage: ''
        }
    },
    computed: {
        imageClasses() {
            var classes = this.imgClass;
            if(this.fullUrl) classes = classes + ' cursor-pointer'
            return classes;
        },
        enablePreview() {
            return this.fullUrl && !this.fullUrl.includes('.svg');
        }
    },
    methods: {
        show() {
            if(this.fullUrl && !this.fullUrl.includes('.svg')) {
                this.lightboxImage = this.fullUrl;
                this.lightboxVisible = true;
            }
        },
        handleHide() {
            this.lightboxVisible = false
        },
        isVisible() {
            if(this.hideScroll) {
                if(this.$refs['scroll-sensor']) {
                    let top = this.$refs['scroll-sensor'].getBoundingClientRect().top;
                    if(top >=-1200 && (top - 300) < window.innerHeight) {
                        return true;
                    }

                    return false;
                }
                
                return true;
            }

            return true;
        }
    }
};
</script>