<template>
	<teleport to="#modals">
		<transition
			enter-active-class="transition ease-out duration-300 transform"
			enter-class="opacity-0"
			enter-to-class="opacity-100"
			leave-active-class="transition ease-in duration-200 transform"
			leave-class="opacity-100"
			leave-to-class="opacity-0"
		>
			<div
				v-if="showing"
				class="fixed inset-0 w-full h-screen flex items-center justify-center bg-black bg-opacity-50 z-50"
				@click.self="closeIfShown"
			>
				<div
					class="absolute inset-0 lg:relative max-h-screen w-full lg:max-w-lg bg-white dark:bg-gray-700 lg:rounded-lg flex"
					:class="{'py-14 p-4 lg:p-14': !noPadding}"
				>
					<button
						v-if="showClose"
						aria-label="close"
						class="absolute focus:outline-none top-0 right-0 p-2 m-2 z-10 rounded-full hover:text-white hover:bg-purple-500 hover:bg-opacity-20"
						@click.prevent="close"
					>    
                        <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
					</button>
					<div :class="!noFlex ? 'flex items-center justify-center' : ''" class="max-h-screen w-full">
						<div class="m-auto max-h-full overflow-auto">
							<slot />
						</div>
					</div>
				</div>
			</div>
		</transition>
	</teleport>
</template>

<script>
	export default {
		props: {
			showing: {
				required: true,
				type: Boolean
			},
			showClose: {
				type: Boolean,
				default: true
			},
			backgroundClose: {
				type: Boolean,
				default: true,
			},
			noFlex: {
				type: Boolean,
				default: false,
			},
			noPadding: {
				type: Boolean,
				default: false,
			}
		},
		emits: ['close'],
		watch: {
			showing(value) {
				if (value) {
					return document.querySelector("body").classList.add("overflow-hidden");
				}
				return document.querySelector("body").classList.remove("overflow-hidden");
			}
		},
		methods: {
			close() {
				document.querySelector("body").classList.remove("overflow-hidden");
				this.$emit("close");
			},
			closeIfShown() {
				if (this.showClose && this.backgroundClose) {
					this.close();
				}
			}
		},
		mounted: function() {
			if (this.showClose) {
				document.addEventListener("keydown", e => {
					if (e.keyCode == 27) {
						this.close();
					}
				});
			}
		}
	};
</script>