<template>
    <div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg" v-if="wallet && !xdr && !created">
        <div class="space-y-6">
            <div>
                <v-input name="code" :error="getError('code')" label="NFT Code" placeholder="MyNFT" v-model:value="data.code">
                    <template #hint>An identifying code for your NFT, like USD for United States dollar. That code you will see in your wallet.</template>
                </v-input>
            </div>

            <div>
                <v-input name="name" :optional="true" :error="getError('name')" label="Name" placeholder="Name" v-model:value="data.name">
                    <template #hint>The name will be saved on the blockchain forever.</template>
                </v-input>
            </div>

            <div>
                <v-input name="ipfs_cid" :optional="true" :error="getError('ipfs_cid')" label="IPFS CID" placeholder="Content Identifier" v-model:value="data.ipfs_cid">
                    <template #hint>If your NFT for some file, you can upload it on IPFS via <a class="underline" target="new" href="https://pinata.cloud/">pinata.cloud</a> and attach unique IPFS CID to your NFT.</template>
                </v-input>
            </div>

            <div>
                <v-input name="royalty" :optional="true" :error="getError('royalty')" :append="true" label="Royalty" placeholder="Royalty" v-model:value="data.royalty">
                    <template #append>%</template>
                    <template #hint>You can set royalty percentage (25% max) you wish to receive from each sell.</template>
                </v-input>
            </div>

            <div>
                <v-input name="home_domain" :optional="true" :error="getError('home_domain')" label="Home Domain" placeholder="mywebsite.com" v-model:value="data.home_domain">
                    <template #hint>The domain can not be changed in the future.</template>
                </v-input>
            </div>

            <div>
                <v-data-entries name="dataentries" :errors="errors" label="Data Entries" v-model:value="data.dataentries">
                    <template #hint>
                        <div>You can add an unlimited amount of data entries to NFT. That data will stay forever on the blockchain and can not be changed in the future.</div>
                    </template>
                </v-data-entries>
            </div>

            <button type="button" @click="createTransaction" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                <div class="flex items-center" v-if="loading">
                    <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                    <div>Processing</div>
                </div>
                <div v-else>Next</div>
            </button>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>

    <div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg" v-if="xdr && !created">
        <div class="space-y-6">
            <div>
                <div class="block font-medium text-sm">Cost to Create</div>
                <div class="mt-1">
                    <span class="font-medium" v-html="cost"></span> XLM
                </div>
            </div>
            <div>
                <div class="block font-medium text-sm">XDR</div>
                <div class="mt-1">
                    <span class="break-words text-xs" v-html="this.xdr"></span>
                </div>
                <p class="mt-2 text-sm text-gray-500">
                    <a :href="laboratoryLink" class="underline" target="new">View in Stellar Laboratory</a>
                </p>
            </div>
            <button type="button" @click="submitTransaction" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                <div class="flex items-center" v-if="loading">
                    <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                    <div>Processing</div>
                </div>
                <div v-else>Sign & Create</div>
            </button>
            <button type="button" @click="xdr = ''" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                <div>Back</div>
            </button>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>

    <div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg" v-if="created">
        <div class="space-y-6">
            <div class="block text-left text-green-600 bg-green-200 border border-green-400 p-4 rounded-sm text-sm text-center" role="alert">
                <div class="text-2xl text-center font-medium">Your NFT successfully created!</div>
            </div>
            <div class="flex items-center">
                <a target="new" :href="NFTLink" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                    <div class="flex items-center">
                        <div>Show</div>
                    </div>
                </a>
            </div>
            <div class="flex items-center">
                <a target="new" href="/assets/add" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                    <div class="flex items-center">
                        <div>Add New Item</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        publicKey: {
            type: String,
            required: true
        },
        wallet: {
            type: String,
            required: true
        },
        test: {
            type: Boolean,
            default: true
        },
        validateAction: String
    },
    data() {
        return {
            data: {
                code: '',
                name: '',
                ipfs_cid: '',
                royalty: '',
                home_domain: '',
                dataentries: []
            },

            errors: {},

            issuer: '',

            loading: false,

            created: false,

            loadingTimeout: false,

            xdr: '',

            cost: 0
        }
    },
    methods: {
        createTransaction() {
            if(this.loading) return false;

            this.errors = {};
            this.issuer = '';
            this.xdr = '';

            this.loading = true;

            axios({
				method: "post",
				url: this.validateAction,
				data: this.data
			})
            .then((response) => {
                window.createNFTTransction(this.publicKey, this.data, this.test).then((data) => {
                    this.issuer = data.issuer;
                    this.xdr = data.xdr;
                    this.cost = data.cost;
                    this.loading = false;
                }).catch((error) => {
                    window.toast.error(error);
                    this.loading = false;
                });
			})
			.catch((error) => {
                this.loading = false;
                const response = error.response;
				this.errors = response.data.errors;
                this.$nextTick(() => {
                    let domRect = document.querySelector('.validation-error').parentNode.getBoundingClientRect();
                    window.scrollTo(
                        0,
                        domRect.top + document.documentElement.scrollTop
                    );
                });
			});
        },

        submitTransaction() {
            if(!this.xdr) return false;
            
            if(this.loading) return false;

            this.errors = {};

            this.loading = true;

            window.signTransction(this.wallet, this.xdr, this.test).then((xdr) => {

                window.submitTransaction(xdr, this.test).then((result) => {
                    this.loading = false;
                    if(result) {
                        this.created = true;    
                    } else {
                        this.xdr = '';
                        window.toast.error('An error occurred, please try again later.');
                    }
                }).catch((error) => {
                    this.xdr = '';
                    this.loading = false;
                    alert(error);
                })

            }).catch((error) => {
                this.loading = false;
                window.toast.error('An error occurred, please try again later.');
            })
        },

        getError(name) {
            if(this.errors[name]) {
                return this.errors[name][0];
            }

            return '';
        },
        addError(name, error) {
            this.errors[name] = [];
            this.errors[name].push(error);
        }
    },
    watch: {
        loading(newValue, oldValue) {
            if(newValue == oldValue) return;
            if(this.loading) {
                this.loadingTimeout = setTimeout(() => {window.toast.error('An error occurred, please try again later.'); this.loading = false}, 90000);    
            } else {
                if(this.loadingTimeout) clearTimeout(this.loadingTimeout);
            }
        }
    },
    computed: {
        laboratoryLink() {
            if(!this.xdr) return '';

            let link = `https://laboratory.stellar.org/#xdr-viewer?input=${ encodeURIComponent(this.xdr) }&type=TransactionEnvelope&network=${ this.data.network == 'testnet' ? 'test' : 'public'}`;

            return link;
        },
        NFTLink() {
            if(!this.issuer) return '';

            if(!this.data.code) return '';

            let link = `/nft/${ this.data.code }-${ this.issuer }${ this.test ? '#testnet' : ''}`;

            return link;
        }
    }
};
</script>