<template>
	<div v-if="isConnected" class="">
        <button v-if="!publicKey" class="inline-flex items-center justify-center px-8 py-3 border border-transparent font-medium rounded-md text-white bg-purple-500 hover:bg-purple-600" @click="getPublicKey">
            <span v-if="!loading">Connect Wallet</span>
            <span v-else>
                <svg class="animate-spin h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </span>
        </button>

        <div v-if="publicKey" class="mb-4 text-center">
            <div v-html="publicKey" class="break-words text-sm"></div>
            <div class="inline-block cursor-pointer undeline text-xs" @click="reconnectWallet">Reconnect</div>
        </div>

        <button v-if="publicKey" class="inline-flex items-center justify-center px-8 py-3 border border-transparent font-medium rounded-md text-white bg-purple-500 hover:bg-purple-600" @click="login">
            <span v-if="!loading">Sign In</span>
            <span v-else>
                <svg class="animate-spin h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </span>
        </button>
    </div>
    <a :href="walletList[wallet].link" target="new" v-else class="inline-flex items-center justify-center px-8 py-3 border border-transparent font-medium rounded-md text-white bg-purple-500 hover:bg-purple-600">
        <span v-html="`Get ${walletList[wallet].name}`"></span>
    </a>
</template>

<script>
	export default {
		props: {
            sessionCode: {
                type: String,
                required: true
            },
            backurl: {
                type: String,
                default: ''
            },
            action: {
                type: String,
                required: true
            },
            wallet: {
				type: String,
				required: true
			},
            walletList: {
                type: Object,
                required: true
            }
		},
        data() {
            return {
                publicKey: '',
                loading: false
            }
        },
        computed: {
            isConnected() {
                return window.isConnectedWallet(this.wallet);
            }
        },
		methods: {
			getPublicKey() {
                if(this.loading) return ;
                
                this.loading = true;

                window.getPublicKey(this.wallet).then(publicKey => {
                    this.loading = false;
                    this.publicKey = publicKey;
                }).catch((error) => {
                    console.log(error);
                    window.toast.error('An error occurred, please try again later.');
                    this.loading = false;
                });
            },
            login() {
                if(this.loading) return ;
                
                this.loading = true;

                let transctionXDR = window.loginTransction(this.publicKey, this.sessionCode);

                window.signTransction(this.wallet, transctionXDR, false).then((xdr) => {
                    axios.post(this.action, {
                        xdr: xdr,
                        publicKey: this.publicKey,
                        wallet: this.wallet,
                        backurl: this.backurl
                    })
                    .then(response => {
                        this.loading = false;
                        if(response.data.status) {
                            location.href = response.data.url;
                        } else {
                            window.toast.error('An error occurred, please try again later.');
                        }
                    })
                    .catch(error => {
                        this.loading = false;
                        window.toast.error('An error occurred, please try again later.');
                    });

                }).catch((error) => {
                    this.loading = false;
                    window.toast.error('An error occurred, please try again later.');
                })
            },
            reconnectWallet() {
                this.publicKey = '';
                this.loading = true;
                window.reconnectWallet(this.wallet).then(() => {
                    this.loading = false;
                }).catch((error) => {
                    console.log(error);
                    window.toast.error('An error occurred, please try again later.');
                    this.loading = false;
                });
            }
		}
	};
</script>