<template>
	<div class="">
        <button v-if="!publicKey" class="inline-flex items-center justify-center px-8 py-3 border border-transparent font-medium rounded-md text-white bg-purple-500 hover:bg-purple-600" @click="getPublicKey">
            <span v-if="!loading">Connect Wallet</span>
            <span v-else>
                <svg class="animate-spin h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </span>
        </button>

        <div v-if="publicKey" class="mb-4 text-center">
            <div v-html="publicKey" class="break-words text-sm"></div>
            <div class="inline-block cursor-pointer undeline text-xs" @click="reconnectWallet">Reconnect</div>
        </div>

        <div class="mt-4 text-center" v-if="!publicKey && qrText">
            <div>Open your WalletConnect-compatible app with Stellar support, like LOBSTR wallet, and scan the QR code to connect.</div>
            <div class="mt-1"><a target="new" class="text-purple-500 underline" href="https://stellarterm.zendesk.com/hc/en-us/articles/4406496403217">How do I log in with WalletConnect?</a></div>

            <div v-html="qrText" class="mt-4 flex item-center justify-center"></div>
        </div>

        <button v-if="publicKey" class="inline-flex items-center justify-center px-8 py-3 border border-transparent font-medium rounded-md text-white bg-purple-500 hover:bg-purple-600" @click="login">
            <span v-if="!loading">Sign In</span>
            <span v-else>
                <svg class="animate-spin h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </span>
        </button>
    </div>
</template>

<script>
    import WalletConnectApi from "../../../Login/WalletConnect.js";

    var QRCode = require("qrcode-svg");

	export default {
		props: {
            sessionCode: {
                type: String,
                required: true
            },
            backurl: {
                type: String,
                default: ''
            },
            action: {
                type: String,
                required: true
            },
            wallet: {
				type: String,
				required: true
			},
            walletList: {
                type: Object,
                required: true
            }
		},
        data() {
            return {
                publicKey: '',
                loading: false,
                wcInstance: null,

                qrText: false
            }
        },
		methods: {
			getPublicKey() {
                if(this.loading) return ;
                
                this.loading = true;

                this.qrText = false;
                
                this.wcInstance.getPublicKey().then(publicKey => {
                    this.loading = false;
                    this.publicKey = publicKey;
                }).catch((error) => {
                    console.log(error);
                    window.toast.error('An error occurred, please try again later.');
                    this.loading = false;
                });
            },
            login() {
                if(this.loading) return ;
                
                this.loading = true;

                let transctionXDR = window.loginTransction(this.publicKey, this.sessionCode);

                window.signTransction(this.wallet, transctionXDR, false).then((xdr) => {
                    axios.post(this.action, {
                        xdr: xdr,
                        publicKey: this.publicKey,
                        wallet: this.wallet,
                        backurl: this.backurl
                    })
                    .then(response => {
                        this.loading = false;
                        if(response.data.status) {
                            location.href = response.data.url;
                        } else {
                            window.toast.error('An error occurred, please try again later.');
                        }
                    })
                    .catch(error => {
                        this.loading = false;
                        window.toast.error('An error occurred, please try again later.');
                    });

                }).catch((error) => {
                    this.loading = false;
                    window.toast.error('An error occurred, please try again later.');
                })
            },
            reconnectWallet() {
                this.publicKey = '';
                this.qrText = false;
                this.loading = true;
                this.wcInstance.logout().then(() => {
                    this.loading = false;
                }).catch((error) => {
                    console.log(error);
                    window.toast.error('An error occurred, please try again later.');
                    this.loading = false;
                });
            },
            async wcCreated(res) {
                console.log('Created');
            },
            async wcUpdated(res) {
                console.log('Updated');
            },
            async wcDeleted(res) {
                console.log('Deleted');
            },
            async wcProposal(proposal) {
                const { uri } = proposal.signal.params;

                var svg = new QRCode(uri).svg();

                this.qrText = svg;
            },
		},
        created() {
            this.wcInstance = new WalletConnectApi({
                created: this.wcCreated,
                updated: this.wcUpdated,
                deleted: this.wcDeleted,
                proposal: this.wcProposal,
            })
        }
	};
</script>