<template>
	<slot :show="showModal"></slot>
    <tw-modal
        :showing="activateModal"
        @close="activateModal = false"
        :showClose="true"
        :backgroundClose="false"
        :noFlex="true"
        :noPadding="true"
    >
        <div class="p-4 flex flex-col h-full lg:block relative">
            <div class="space-y-4" v-if="!activated && xdr">
                <div>
                    <div class="block font-medium text-sm">Cost to Activate</div>
                    <div class="mt-1">
                        <span class="font-medium" v-html="cost"></span> XLM
                    </div>
                </div>
                <div>
                    <div class="block font-medium text-sm">XDR</div>
                    <div class="mt-1">
                        <span class="break-words text-xs" v-html="this.xdr"></span>
                    </div>
                    <p class="mt-2 text-sm text-gray-500">
                        <a :href="laboratoryLink" class="underline" target="new">View in Stellar Laboratory</a>
                    </p>
                </div>
                <button type="button" @click="active" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                    <div class="flex items-center" v-if="loading">
                        <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <div>Processing</div>
                    </div>
                    <div v-else>Sign & Activate</div>
                </button>
            </div>
            <div class="text-center text-lg font-medium px-8" v-if="activated">
                The item in a process of activation, please, come back in a few minutes.
            </div>
            <div v-if="checking" class="mt-1 flex justify-center items-center">
                <svg class="animate-spin h-12 w-12 text-purple-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </div>
            <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
        </div>
    </tw-modal>
</template>

<script>
	export default {
		props: {
            cost: {
                type: String,
                required: false,
                default: '1'
            },
            test: {
                type: Boolean,
                required: true,
                default: true
            },
            wallet: {
                type: String,
                required: true
            },
            userPublicKey: {
                type: String,
                required: true
            },
            escrowPublicKey: {
                type: String,
                required: true
            }
		},
        data() {
            return {
                activateModal: false,
                loading: false,
                xdr: '',
                activated: false,
                checking: true
            }
        },
		methods: {
            showModal() {
                this.activateModal = true;
            },
            active() {
                if(this.loading) return;

                this.loading = true;
                
                window.signTransction(this.wallet, this.xdr, this.test).then((xdr) => {

                    window.submitTransaction(xdr, this.test).then((result) => {
                        this.loading = false;
                        this.activated = true;

                        axios.get('');
                    }).catch((error) => {
                        this.loading = false;
                        window.toast.error(error);
                    })

                }).catch((error) => {
                    this.loading = false;
                    window.toast.error('An error occurred, please try again later.');
                })
            },
		},
        watch: {
            activateModal() {
                if(this.activateModal) {
                    this.xdr = '';
                    window.checkIfAccountExists(this.escrowPublicKey, this.test).then((status) => {
                        if(status) {
                            this.checking = false;
                            this.activated = true;
                        } else {
                            window.createAccountTransction(this.userPublicKey, this.escrowPublicKey, this.test).then((xdr) => {
                                this.xdr = xdr;
                                this.checking = false;
                            })    
                        }
                    })
                    
                }
            }
        },
        computed: {
            laboratoryLink() {
                if(!this.xdr) return '';

                let link = `https://laboratory.stellar.org/#xdr-viewer?input=${ encodeURIComponent(this.xdr) }&type=TransactionEnvelope&network=${ this.test ? 'test' : 'public'}`;

                return link;
            },
        }
	};
</script>