<template>
    <div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
        <div class="space-y-6">
            <div>
                <v-select name="issuer" :error="getError('issuer')" label="NFT" placeholder="Select the NFT" :options="userNFTs" v-model:value="nft.issuer">
                    <template #hint>Select the NFT from the list of your assets. You also can <a href="/nft/create" class="underline">create new NFT</a>.</template>
                </v-select>
            </div>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>
	<assets-fields :categories="categories" :loading="loading" :errors="errors" v-model:value="data"></assets-fields>
    <div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
        <div class="space-y-6">
            <div>
                <v-checkbox name="terms" :error="getError('terms')" label="I agree" v-model:value="terms">
                    <template #hint>By clicking "I agree" you agree that StellarNFT's administration can hide (from the search) or remove (from the site) your listing at their discretion.</template>
                </v-checkbox>
            </div>
            <div>
                <button @click="addAsset()" class="inline-flex items-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full justify-center h-12" :disabled="loading">
                    <div class="flex items-center" v-if="loading">
                        <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <div>Processing</div>
                    </div>
                    <div class="flex items-center" v-else>
                        <div>Add</div>
                    </div>
                </button>
            </div>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>
</template>

<script>
	export default {
		props: {
            categories: {
                type: Array,
                defalut: [],
                required: false
			},
			action: {
				required: true,
				type: String
			},
            test: {
                type: Boolean,
                required: true,
                default: true
            },
            wallet: {
                type: String,
                required: true
            },
            userPublicKey: {
                type: String,
                required: true
            }
		},
        data() {
            return {
                loading: false,

                errors: {},
                data: {
                    name: '',
                    description: '',
                    lockable: '',
                    image: '',
                    audio: '',
                    video: '',
                    price: '',
                    min_offer: '',
                    bounty: '',
                    categories: [],
                    nsfw: [],
                    private: []
                },

                terms: [],

                nft: {
                    issuer: '',
                    code: ''
                },

                userNFTs: []
            }
        },
		methods: {
            scrollToError() {
                this.$nextTick(() => {
                    let domRect = document.querySelector('.validation-error').parentNode.getBoundingClientRect();
                    window.scrollTo(
                        0,
                        domRect.top + document.documentElement.scrollTop
                    );
                });
            },
            addAsset() {
                if(this.loading) return;

                this.loading = true;
                this.errors = {};

                this.nft.code = '';

                this.userNFTs.forEach((nft) => {
                    if(nft.issuer == this.nft.issuer) {
                        this.nft.code = nft.code;
                    }
                })

                if(this.nft.code == '') {
                    this.addError('issuer', 'Please, select the NFT');
                    this.scrollToError();
                    this.loading = false;
                    return;
                }

                axios.post(this.action, {
                    issuer: this.nft.issuer,
                    code: this.nft.code,
                    terms: this.terms,
                    ...this.data
                })
                .then(response => {
                    if(response.data.success) {
                        this.loading = false;
                        if(response.data.url) location.href = response.data.url;
                    } else {
                        this.loading = false;
                        this.addError('issuer', 'An error occurred, please try again later.');
                        this.scrollToError();
                    }
                })
                .catch(error => {
                    this.loading = false;
                    const response = error.response;
                    this.errors = response.data.errors;
                    this.$nextTick(() => {
                        let domRect = document.querySelector('.validation-error').parentNode.getBoundingClientRect();
                        window.scrollTo(
                            0,
                            domRect.top + document.documentElement.scrollTop
                        );
                    });
                });
            },
            addError(name, error) {
                this.errors[name] = [];
                this.errors[name].push(error);
            },
            getError(name) {
                if(this.errors[name]) {
                    return this.errors[name][0];
                }

                return '';
            },
		},
        created() {
            window.getAccountNFTs(this.userPublicKey, this.test).then((list) => {
                this.userNFTs = list;
            })
        }
	};
</script>