<template>
    <div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
        <div class="space-y-6">
            <div>
                <v-checkbox name="private" :error="getError('private')" label="Private" v-model:value="data.private">
                    <template #hint>The item will be hidden from the search and only accessible via URL.</template>
                </v-checkbox>
            </div>
            <div>
                <v-checkbox name="nsfw" :error="getError('nsfw')" label="NSFW" v-model:value="data.nsfw">
                    <template #hint>Keep it legal. Adding illegal content will result in the removal of listing and banning of your Stellar address on the site.</template>
                </v-checkbox>
            </div>
            <div>
                <v-input name="price" :error="getError('price')" label="Price" :append="true" placeholder="Item Price" v-model:value="data.price">
                    <template #append>XLM</template>
                    <template #hint>Approximate price you are willing to accept. You are not obligated to sell the item for that price.</template>
                </v-input>
            </div>
            <div>
                <v-input name="min_offer" :error="getError('min_offer')" label="Min Offer Amount" :append="true" placeholder="Min Offer Amount" v-model:value="data.min_offer">
                    <template #append>XLM</template>
                    <template #hint>You won't receive offers less than the specified amount.</template>
                </v-input>
            </div>
            <div>
                <v-input name="bounty" :optional="true" :error="getError('bounty')" label="Bounty Percentage" :append="true" placeholder="Bounty Percentage" v-model:value="data.bounty">
                    <template #append>%</template>
                    <template #hint>You can incentivize other users to find a buyer for your item by sharing a percentage (up to 25%) of the total sale price.</template>
                </v-input>
            </div>
            <div>
                <v-textarea :rows="2" name="lockable" :optional="true" :error="getError('lockable')" label="Unlockable Content" placeholder="The information you wish to pass to the next owner..." v-model:value="data.lockable">
                    <template #hint>This content can only be unlocked and revealed by the owner of this item.</template>
                </v-textarea>
            </div>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>
	<div class="relative w-full sm:max-w-5xl mt-6 px-6 py-4 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
        <div class="space-y-6">
            <div>
                <v-file name="image" :optional="true" :error="getError('image')" label="Image" v-model:value="data.image">
                    <template #hint>File types supported: JPG, PNG, GIF. Max size: 10 MB</template>
                </v-file>
            </div>
            <div>
                <v-file name="audio" :acceptedFileTypes="[]" :optional="true" :error="getError('audio')" label="Audio" v-model:value="data.audio">
                    <template #hint>File types supported: MP3. Max size: 10 MB</template>
                </v-file>
            </div>
             <div>
                <v-file name="video" maxFileSize="30MB" :acceptedFileTypes="[]" :optional="true" :error="getError('video')" label="Video" v-model:value="data.video">
                    <template #hint>File types supported: MP4. Max size: 30 MB</template>
                </v-file>
            </div>
            <div>
                <v-categories name="categories" :optional="true" :error="getError('categories')" label="Categories" :categories="categories" v-model:value="data.categories"></v-categories>
            </div>
            <div>
                <v-input name="name" :error="getError('name')" label="Name" :hint="false" placeholder="Item Name" v-model:value="data.name"></v-input>
            </div>
            <div>
                <v-textarea :rows="4" name="description" :error="getError('description')" label="Description" :hint="false" placeholder="Provide a detailed description of your item." v-model:value="data.description"></v-textarea>
            </div>
        </div>
        <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
    </div>
</template>

<script>
	export default {
		props: {
            categories: {
                type: Array,
                defalut: [],
                required: false
			},
			loading: {
				required: true,
                default: false,
				type: Boolean
			},
            value: {
				required: true,
				type: Object
			},
            errors: {
				required: true,
                default: {},
				type: Object
			}
		},
        emits: ['update:value'],
        data() {
            return {
                data: {
                    name: '',
                    description: '',
                    lockable: '',
                    image: '',
                    audio: '',
                    video: '',
                    price: '',
                    min_offer: '',
                    bounty: '',
                    categories: [],
                    nsfw: [],
                    private: []
                }
            }
        },
		methods: {
            addError(name, error) {
                this.errors[name] = [];
                this.errors[name].push(error);
            },
            getError(name) {
                if(this.errors[name]) {
                    return this.errors[name][0];
                }

                return '';
            },
		},
        created() {
            this.data = this.value;
        },
        watch: {
            data(newValue) {
                this.$emit('update:value', this.data);
            }
        }
	};
</script>