<template>
	<div class="flex flex-col sm:justify-center items-center">
        <div v-if="claimables.length > 0" class="relative w-full p-1 sm:max-w-3xl mt-6 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
            <button @click="claimClaimableBalances()" class="inline-flex items-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full justify-center h-12" :disabled="loading">
                <div class="flex items-center" v-if="loading">
                    <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                    <div>Processing</div>
                </div>
                <div class="flex items-center" v-else>
                    <div>Claim Claimable Balances</div>
                </div>
            </button>
        </div>
        <div v-if="claimables.length > 0" class="relative w-full sm:max-w-3xl mt-6 bg-white dark:bg-gray-700 shadow overflow-hidden sm:rounded-lg">
            <div class="overflow-auto">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                        <tr>
                            <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                                From
                            </th>
                            <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                                Amount
                            </th>
                            <th scope="col" class="px-3 py-3 text-left text-xs font-medium text-gray-400 uppercase tracking-wider">
                                Created
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-300">
                        <tr class="bg-gray-50" v-for="claimable in claimables" :key="claimable.id">
                            <td class="px-3 py-4 whitespace-nowrap">
                                <a :href="`https://stellar.expert/explorer/public/account/${claimable.from}`" class="text-purple-500" v-html="`${claimable.from.substr(0, 5)}...${claimable.from.substr(-5)}`"></a>
                            </td>
                            <td class="px-3 py-4 whitespace-nowrap">
                                <div class="flex items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="flex-none h-4 w-4 mr-1" fill="currentColor" viewBox="0 0 236.36 200" xml:space="preserve">
                                        <path d="M203,26.16l-28.46,14.5-137.43,70a82.49,82.49,0,0,1-.7-10.69A81.87,81.87,0,0,1,158.2,28.6l16.29-8.3,2.43-1.24A100,100,0,0,0,18.18,100q0,3.82.29,7.61a18.19,18.19,0,0,1-9.88,17.58L0,129.57V150l25.29-12.89,0,0,8.19-4.18,8.07-4.11v0L186.43,55l16.28-8.29,33.65-17.15V9.14Z"/>
                                        <path d="M236.36,50,49.78,145,33.5,153.31,0,170.38v20.41l33.27-16.95,28.46-14.5L199.3,89.24A83.45,83.45,0,0,1,200,100,81.87,81.87,0,0,1,78.09,171.36l-1,.53-17.66,9A100,100,0,0,0,218.18,100c0-2.57-.1-5.14-.29-7.68a18.2,18.2,0,0,1,9.87-17.58l8.6-4.38Z"/>
                                    </svg>
                                    <span v-html="claimable.amount"></span>
                                </div>
                            </td>
                            <td class="px-3 py-4 whitespace-nowrap" v-html="getTimeAgo(claimable.created_at)"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mt-6 sm:text-center" v-else>
            <div v-if="loading" class="flex items-center justify-center text-purple-500">
                <svg class="animate-spin h-12 w-12" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
            </div>
            <div class="text-2xl font-thin" v-else>No claimable balances</div>
        </div>
    </div>
    <tw-modal
            :showing="signModal"
            @close="signModal = false"
            :showClose="true"
            :backgroundClose="false"
            :noFlex="true"
            :noPadding="true"
        >
        <div class="py-5 px-4 flex flex-col h-full lg:block relative">
            <div class="space-y-4">
                <div>
                    <div class="block font-medium text-sm">XDR</div>
                    <div class="mt-1">
                        <span class="break-words text-xs" v-html="this.xdr"></span>
                    </div>
                    <p class="mt-2 text-sm text-gray-500">
                        <a :href="laboratoryLink(this.xdr)" class="underline" target="new">View in Stellar Laboratory</a>
                    </p>
                </div>
                <button type="button" @click="signClaimTransaction()" class="inline-flex items-center justify-center font-medium leading-6 bg-gray-100 dark:bg-gray-800 py-2 px-3 rounded text-purple-500 hover:bg-gray-200 dark:hover:bg-gray-600 transition duration-150 ease-in-out focus:outline-none disabled:opacity-25 uppercase w-full">
                    <div class="flex items-center" v-if="loading">
                        <svg class="animate-spin mr-2 h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                        </svg>
                        <div>Processing</div>
                    </div>
                    <div v-else>Sign & Claim</div>
                </button>
            </div>
            <div v-if="loading" class="absolute inset-0 bg-purple-500 bg-opacity-10 z-10"></div>
        </div>
    </tw-modal>
</template>

<script>
	export default {
		props: {
			action: {
				required: true,
				type: String
			},
            test: {
                type: Boolean,
                required: true,
                default: true
            },
            wallet: {
                type: String,
                required: true
            },
            userPublicKey: {
                type: String,
                required: true
            }
		},
        data() {
            return {
                loading: true,
                claimables: [],
                xdr: '',
                signModal: false
            }
        },
		methods: {
            getTimeAgo(time) {
                var dayjs = require('dayjs')
                var relativeTime = require('dayjs/plugin/relativeTime')

                dayjs.extend(relativeTime)  
                return dayjs(time).fromNow()
            },
            claimClaimableBalances() {
                if(this.loading) return;
                this.loading = true;

                window.createClaimClaimableBalancesTransaction(this.userPublicKey, this.claimables, this.test).then((xdr) => {
                    this.loading = false;
                    this.xdr = xdr;
                    this.signModal = true;
                }).catch((error) => {
                    this.loading = false;
                    window.toast.error(error);
                });
            },
            signClaimTransaction() {
                if(!this.xdr) return;
                if(this.loading) return;

                this.loading = true;

                window.signTransction(this.wallet, this.xdr, this.test).then((xdr) => {
                    window.submitTransaction(xdr, this.test).then((result) => {
                        this.loading = false;
                        location.reload();
                    }).catch((error) => {
                        this.loading = false;
                        window.toast.error(error);
                    })
                }).catch((error) => {
                    this.loading = false;
                    window.toast.error('An error occurred, please try again later.');
                })
            },
            laboratoryLink(xdr) {
                if(!xdr) return '';

                let link = `https://laboratory.stellar.org/#xdr-viewer?input=${ encodeURIComponent(xdr) }&type=TransactionEnvelope&network=${ this.test ? 'test' : 'public'}`;

                return link;
            }
		},
        created() {
            window.getAccountClaimables(this.userPublicKey, this.test).then((list) => {
                this.claimables = list;
                this.loading = false;
            })
        }
	};
</script>