<template>
	<div class="bg-white dark:bg-gray-700 border border-gray-300 dark:border-gray-400 hover:shadow-lg sm:rounded-lg relative" :ref="`asset${asset.asset_id}`">
        <a :href="asset.url">
            <div class="h-60 border-b border-gray-300 dark:border-gray-400 relative">
                <v-img :src="asset.image" img-class="object-contain w-full h-full" :hideScroll="hideScroll" :scrollY="scrollY"></v-img>

                <div v-if="asset.verified" class="absolute top-2 right-2 bg-green-600 p-1 rounded-full">
                    <div class="text-white tooltip tooltip-left" data-tooltip="Verified">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                        </svg>
                    </div>
                </div>

                <div v-if="asset.audio || asset.video" class="absolute top-2 left-2 space-y-2">
                    <div @click="playAudio" v-if="asset.audio">
                        <div class="bg-gray-100 hover:bg-gray-200 p-2 rounded-full flex items-center text-purple-500 font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" />
                            </svg>
                            <span>Audio</span>
                        </div>
                    </div>
                    <div @click="playVideo" v-if="asset.video">
                        <div class="bg-gray-100 hover:bg-gray-200 p-2 rounded-full flex items-center text-purple-500 font-medium">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                            </svg>
                            <span>Video</span>
                        </div>
                    </div>
                </div>

                <div v-if="asset.lockable" class="absolute bottom-2 right-2">
                    <div class="tooltip tooltip-left" data-tooltip="Includes unlockable content">
                        <div class="bg-gray-100 p-2 rounded-full">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-purple-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15v2m-6 4h12a2 2 0 002-2v-6a2 2 0 00-2-2H6a2 2 0 00-2 2v6a2 2 0 002 2zm10-10V7a4 4 0 00-8 0v4h8z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2">
                <div class="flex">
                    <div class="pr-1 flex-none w-7/12">
                        <div class="truncate text-xs text-gray-400" v-html="asset.code"></div>
                        <div class="truncate text-sm" v-html="asset.name"></div>
                    </div>
                    <div class="pl-1 text-right flex-none w-5/12">
                        <div class="text-xs text-gray-400">Price</div>
                        <div class="flex items-center justify-end">
                            <div class="tooltip tooltip-left sm:tooltip-top mr-1" data-tooltip="XLM">
                                <svg xmlns="http://www.w3.org/2000/svg" class="flex-none h-3 w-3" fill="currentColor" viewBox="0 0 236.36 200" xml:space="preserve">
                                    <path d="M203,26.16l-28.46,14.5-137.43,70a82.49,82.49,0,0,1-.7-10.69A81.87,81.87,0,0,1,158.2,28.6l16.29-8.3,2.43-1.24A100,100,0,0,0,18.18,100q0,3.82.29,7.61a18.19,18.19,0,0,1-9.88,17.58L0,129.57V150l25.29-12.89,0,0,8.19-4.18,8.07-4.11v0L186.43,55l16.28-8.29,33.65-17.15V9.14Z"/>
                                    <path d="M236.36,50,49.78,145,33.5,153.31,0,170.38v20.41l33.27-16.95,28.46-14.5L199.3,89.24A83.45,83.45,0,0,1,200,100,81.87,81.87,0,0,1,78.09,171.36l-1,.53-17.66,9A100,100,0,0,0,218.18,100c0-2.57-.1-5.14-.29-7.68a18.2,18.2,0,0,1,9.87-17.58l8.6-4.38Z"/>
                                </svg>
                            </div>
                            <span class="text-sm truncate" v-html="asset.price"></span>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <div class="absolute inset-0 bg-white flex items-center justify-center overflow-hidden sm:rounded-lg" v-if="asset.audio && showAudio">
            <div @click="showAudio = false" class="absolute top-2 right-2">
                <div class="cursor-pointer bg-gray-100 hover:bg-gray-200 p-2 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-purple-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </div>
            <audio :ref="`audioPlayer${asset.asset_id}`" controls>
                <source :src="asset.audio" type="audio/mp3" />
            </audio>
        </div>
        <div class="absolute inset-0 bg-white flex items-center justify-center overflow-hidden sm:rounded-lg" v-if="asset.video && showVideo">
            <div @click="showVideo = false" class="absolute top-2 right-2 z-10">
                <div class="cursor-pointer bg-gray-100 hover:bg-gray-200 p-2 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-purple-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </div>
            </div>
            <video :style="{'height': videoHeight}" :ref="`videoPlayer${asset.asset_id}`" playsinline controls :data-poster="asset.image">
                <source :src="asset.video" type="video/mp4" />
            </video>
        </div>
    </div>

</template>

<script>
	export default {
		props: {
            asset: {
                type: Object,
                required: true
            },
            hideScroll: {
                type: Boolean,
                default: false
            },
			scrollY: {
				required: false
			}
		},
        data() {
            return {
                showAudio: false,
                showVideo: false,
                videoHeight: '100px'
            }
        },
		methods: {
            playAudio(e) {
                e.preventDefault();
                this.showAudio = true;
                this.$nextTick(() => { 
                    new Plyr(this.$refs[`audioPlayer${this.asset.asset_id}`], {
                        controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'fullscreen']
                    })
                })
            },
            playVideo(e) {
                e.preventDefault();
                this.videoHeight = this.$refs[`asset${this.asset.asset_id}`].offsetHeight + 'px';
                this.showVideo = true;
                this.$nextTick(() => { 
                    new Plyr(this.$refs[`videoPlayer${this.asset.asset_id}`], {
                        controls: ['play-large', 'play', 'progress', 'current-time', 'mute', 'volume', 'fullscreen']
                    })
                })
            },
		},
        computed: {
            
        },
        watch: {
            
        },
        created() {
            
        }
	};
</script>